In [ ]:
def read_input():
    nm=input('please enter the name')
    print(nm) 
###
read_input()

In [4]:
dic={
    'zahid':['Shery','Sheroz',"gula"],
    'Adeel':['azaan','Hasan'],
    "KN":['ab','ar'] 
}
dic.pop(1)

KeyError: 1

In [3]:


lst1=['sami','talha']
lst=('shehroz','khan','shehry')

#lst2=lst[2]
print(type(lst))
lst1.pop(1)
#print(lst1)

<class 'tuple'>

'talha'

In [51]:
fn=['khan']
ln=['shehroz']
fullname=[]
for fname in fn:
    for lname in ln:
        fullname.append(fname +" "+lname)
        print(fullname)

['khan shehroz']

In [2]:
vl='shehroz'
vl=vl.title()
print(vl)

Shehroz

In [22]:
dct={'fn':'shehroz','ln':'khan','adrs':'hfzbd','ht':6,'wt':78}
dct['edu']=('bachelor')
print(dct)
for kys,vls in dct.items():
    print('key is',kys,'and the value is',vls)

{'fn': 'shehroz', 'ln': 'khan', 'adrs': 'hfzbd', 'ht': 6, 'wt': 78, 'edu': 'bachelor'}
key is fn and the value is shehroz
key is ln and the value is khan
key is adrs and the value is hfzbd
key is ht and the value is 6
key is wt and the value is 78
key is edu and the value is bachelor

In [1]:
dct=[{
    'fn':'shehroz', 
    'ln':'khan',
    'age':'23',
    'edu':'bachelors'
}]
dct1={
    'jb':'computer operater',
    'pay': 35000
}
dct.append(dct1)
print(dct)

[{'fn': 'shehroz', 'ln': 'khan', 'age': '23', 'edu': 'bachelors'}, {'jb': 'computer operater', 'pay': 35000}]

In [ ]:
secret_number = 777
nm = int(input('enter any num'))
while nm>0:
    if nm != secret_number:
        print('ha ha! you are stuck in my loop!')
    else:
        print(nm)
        print('''well done, muggle! you are free now''')
        
    nm = int(input('enter any num'))

In [3]:
for i in range (2,1):
    print('the value of i is ',i)

In [4]:
word_without_vowels = ""

usr_wrd = input('enter any word')
usr_wrd = usr_wrd.upper()


for letter in usr_wrd:
   if letter == 'A':
       continue
   elif letter =='E':
       continue
        
   elif letter =='I':
       continue
   
   elif letter =='O':
       continue
   
   
   elif letter =='U':
       continue
   
   word_without_vowels = letter
   print(word_without_vowels)

enter any wordapple
P
P
L

In [9]:
lt = [3,5,7,2,6,4,1,9]
lrgst_nm = lt[0]
for i in range(1,len(lt)):
    if lt[i]>lrgst_nm:
        lrgst_nm = lt[i]
print(lrgst_nm)

9

In [6]:
import random
sales = [250, 380,190,230,420,340]
sales.choice()
print ()

AttributeError: 'list' object has no attribute 'choice'

In [7]:
with open('C:\Users\dell\Documents\PythonScripts', 'w') as xl:

SyntaxError: unexpected EOF while parsing (<ipython-input-7-8a12b332f0a5>, line 1)

In [2]:
import sqlite3

con = sqlite3.connect("shehroz_db.db")

In [10]:
sql_text0 = 'create table shehroz_movies(id integer,movie_name text)'
sql_text1 = 'insert into shehroz_movies values(1, \'3 idiots\')'
sql_text2 = 'insert into shehroz_movies values(1, \'3 idiots\')'
con.execute(shehroz_db.)

NameError: name 'shehroz_db' is not defined

In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect('Employee_db.db')

In [13]:
#tbl = 'create table Information(id int, name varchar, address varchar, salary int)'
#data1 = 'insert into Information(id , name, address, salary) values(101, "shehry", "LHR", 25000)'
#data2 = 'insert into Information(id , name, address, salary) values(102, "shehroz", "FSD", 35000)'
#data3 = 'insert into Information(id , name, address, salary) values(103, "talha", "HFZ", 45000)'
#data4 = 'insert into Information(id , name, address, salary) values(104, "sami", "ISLB", 5000)'
#data5 = 'insert into Information(id , name, address, salary) values(105, "zohaib", "RWP", 30000)'
#con.execute(tbl)
#con.execute(data1)
#con.execute(data2)
#con.execute(data3)
#con.execute(data4)
#con.execute(data5)
#con.commit()
df = pd.read_sql_query('SELECT * FROM Information',con)
df.set_index('id')
#df.head(2)
#df.tail(3)
#df.shape
#df.info
temp_df = df.append(df)
temp_df =temp_df.drop_duplicates()
temp_df

    id     name address  salary
0  101   shehry     LHR   25000
1  102  shehroz     FSD   35000
2  103    talha     HFZ   45000
3  104     sami    ISLB    5000
4  105   zohaib     RWP   30000